
#botonPromedio{
    width: 150px;
    height: 35px;
    font-size: 30px;

}

#resultado{
    font-size: 25px;
}

#a{
    width: 70px;
    height: 35px;
    font-size: 30px;
}

#b{
    width: 70px;
    height: 35px;
    font-size: 30px;
}
#c{
    width: 70px;
    height: 35px;
    font-size: 30px;
}
